html {
    scroll-behavior: smooth;
}


a#scroll {
    position:fixed;
    right:1.3vw;
    bottom:3vw;
    width:3.3vw;
    height:3.3vw;
    background-color: #F8694A;
    text-indent:-9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border-radius:100px;

    &:hover {
        opacity: 1;
        opacity:1;filter:"alpha(opacity=100)";
        -ms-filter:"alpha(opacity=100)";
        overflow:hidden;
        
        svg {
            animation: animationToSlide linear 0.7s infinite;
        }
    }

    svg {
        height:2vw;
        width:2vw;

        path {
            fill: black;
        }
    }
}

@keyframes animationToSlide {
    from {
        transform: translateY(100%);
    } to {
        transform: translateY(0);
    }
}



@media only screen and (max-width: 739px) {
    a#scroll {
        width: 30px;
        height: 30px;
        opacity: 1;

        &:hover {
            opacity: 1;
            opacity:1;filter:"alpha(opacity=100)";
            -ms-filter:"alpha(opacity=100)";
            overflow:hidden;
            
            svg {
                animation: none;
            }
        }

        svg {
            height: 18px;
            width: 18px;
        }
    }
}

